page-seleccion {
    .fondo{
            background: url("../../assets/img/fondoSel.jpg") no-repeat center center fixed;
            background-size: cover;
            -moz-background-size: cover;
            -webkit-background-size: cover;
            -o-background-size: cover;
            min-height: 100%;
            min-width: 100%;
            text-align: center;

            /* Escalamiento proporcional */
            width: 100%;
            height: 100%;

            /* Posicionamiento */

            top: 0;
            left: 0;
            z-index: -1;
    }
    .telon{
        width: 200%;
        height: 130px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding: 0;
        margin-bottom: 40px;
        //margin-left: 25%;
    }
    .fila{
        width: 200%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding: 0;
        background-color: #070707;
        margin: 0;
        //position: relative;
    }
    .asiento{
        display: inline-block;
        background-color: #d92129;
        border-radius: 5px;
        width: 50px;
        height: 50px;
        margin: 5px;
        position: relative;

        .num-asiento{
            position: absolute;
            top: 50%;
            left:50%;
            transform: translate(-50%,-50%);
            font-size: 12px;
            font-weight: bold;
            color:white;
        }
    }

    .scroll-content{
        height: 100vh;
    }
    .swipe{
        position: absolute;
        margin-top: 20%;
        z-index: 1;
    }

    .contenedor{
        background-color: #070707;
    }
    
    
}
