  <mat-card>
    <mat-card-content>  
    <mat-card-title>AGREGAR IMAGEN A LA GALERIA</mat-card-title>
    <br><br>

    <mat-card-subtitle>CATEGORIA</mat-card-subtitle>
      <section class="example-section">
        <mat-radio-group name="catego" [(ngModel)]="categoria">
          <mat-radio-button *ngFor="let item of arrayGaleria" class="example-margin" name="catego" color="primary" value="{{item.strTitulo}}" (change)="categorias1($event)">
            {{item.strTitulo}}&nbsp;&nbsp;
          </mat-radio-button><br>
        </mat-radio-group>
      </section><br><br>

      <mat-card-subtitle>TITULO DE LA IMAGEN</mat-card-subtitle>
      <input (keyup)="obtenerTitulo($event)">
      <br><br>
      <mat-card-subtitle>DESCRIPCIÓN DE LA IMAGEN</mat-card-subtitle>
      <input (keyup)="obtenerDesc($event)">
      <br><br>
      <mat-card-subtitle>SUBIR IMAGEN</mat-card-subtitle>
      <input name="file-input" id="file-input" type="file" (change)="addImage($event)" />
      <br />
      <img id="imgSalida" width="50%" height="50%" src="" />
      <p id="b64" hidden></p>
      <br><br>
      <button mat-raised-button color="warn" (click)="guardar()">GUARDAR</button>
    </mat-card-content>
  </mat-card>

