page-home {
    .fondo{
        /*background-image: url("../../assets/img/ppal.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;*/

        // background: url("") no-repeat fixed center;
            //background-size: cover;

             /* Rellenamos el fondo */
            background: url("../assets/img/fondo3.jpg") no-repeat center center fixed;
            background-size: cover;
            min-height: 100%;
            min-width: 100%;

            /* Escalamiento proporcional */
            width: 100%;
            height: 100%;

            /* Posicionamiento */

            top: 0;
            left: 0;
            z-index: -1;

        }

    .logo{
        margin-top: 15%;
        text-align: center;
        height: 20%;
        width: 100%;
        background-color: white;
        box-shadow: 0px 1px 10px #000000;
    }
    .boton{
        background-color: #78d8c1
    }

    .botonn{
        background-color: #73c4d9
    }

    .img{
        width: 90%;
        padding: 20%;
    }

    .item-md {
        background: transparent;
        color: white;
      }

      .fab {
        margin-top: 0%;
        margin-left: 0%;
      } 
}
