<ion-header>

  <ion-navbar color="qr">
    <ion-title>ESCANEAR QR</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!--<ion-item>
    <ion-input type="text" placeholder="MY QR Code data" [(ngModel)]="qrData">
    </ion-input>
  </ion-item> 
  <button ion-button full icon-left (click)="createCode()">
    <ion-icon name="barcode"></ion-icon>Create Code</button>  -->
  
  <ion-card *ngIf="createdCode">
    <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
  </ion-card>

  <ion-card *ngIf="scannedCode" [style.backgroundColor]="color">
    <ion-card-content>
      <p align="center" style="color:white;">{{ scannedCode }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <button ion-button full icon-left (click)="scanCode()" color="secondary">
      <ion-icon name="qr-scanner"></ion-icon>Escanear Código</button>
  </ion-card>

</ion-content>