page-pagar {
    .tituloEvento{
        font-size: 200%;
        margin-bottom: 10%;
        text-align: center;
        color: #2e84ac;
    }
    .subTitulo{
        font-size: 170%;
        text-align: end;
        margin-right: 8%;
        color: #167268;
    }
    .info{
        font-size: 120%;
        margin-bottom: 5%;
        text-align: end;
        margin-right: 12%;
    }
    .infoT{
        font-size: 180%;
        margin-bottom: 5%;
        text-align: end;
        margin-right: 12%;
        color: #b52b0b;
    }
    .boton{
        margin: 5%;
        width: 90%;

    }
}
