page-comprobar {
    .imagenes{
        margin-top: 20%;
    }
    .imagenes2{
        margin-top: 40%;
    }
    .exito{
        color: rgb(10, 168, 50);
    }

    .envio{
        color: rgb(51, 146, 175);
    }

    .rechazo{
        color: rgb(187, 50, 50);
    }

}
